.detail{
    background-color: aliceblue;
    margin: auto;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;

}
.track-head{
    margin: 25px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

